.idea
__pycache__
**/__pycache__
model-weights/
outputs/

*.pyc
*.pyo
.vscode/
*.egg-info/
.DS_Store

data/output*
data/results*
data/logs*
data/ffhq

src/DiffAE/

artifact-reference.md

experiments_cross/
experiment_purify/

slurm-logs/

temp/

src/scripts/pgd.py
src/other_attacks/

visualized/